/*for mobile phones*/

	/*targets all images*/
img { 
	max-width: 100%; 
	height: auto; }

	/*targets background image container*/
#title-container{ 
	background-image: 
		linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(background.jpeg);
	height: 60vh;
	width: 100%;
	background-size: cover;
}

	/*targets container holding form*/
#title-div{
	position: relative;
	height: 60vh;
	width: 100%;
}

	/*targets container of title */
#title{
	color: white;
	position: absolute;
	bottom: 5px;
	right: 0;
	font-family: 'Lobster', cursive;
}

	/*targets title directly*/
#title > h1 {
	font-size: 24px;
}

/*search bar styling*/

	/*targets text area input for form*/
#js-search{
	position: absolute;
	top: 35%;
	left: 0; 
  	right: 0; 
  	margin-left: auto; 
  	margin-right: auto; 
	width: 250px;
	height: 75px;
	background-color: transparent;
	color: white;
	font-family: 'Playfair Display', serif;
	font-size: 22px;
}

/*submit button styling*/

	/*targets form submit button*/
#js-submit{
	position: absolute;
	color: white;
  	background: #D45767;
  	border: solid 2px #D45767;
  	text-shadow: none;
  	box-shadow: none;
	left: 0; 
  	right: 0; 
  	margin-left: auto; 
  	margin-right: auto; 
  	top: 60%;
  	width: 150px;
  	height: 50px;
  	font-size: 24px;
  	font-family: 'Playfair Display', serif;
}

#js-submit:hover{
	background-color: #D48557;
	border: solid 2px #D48557;
}

#js-submit:active{
	background-color: #D4C457;
	border: solid 2px #D4C457;
}

/*results section styling*/

	/*targets entire container - holds results and nav buttons*/
#results-section{
	position: relative;
	min-height: 40vh;
	height: 100%;
	text-align: center;
	font-family: 'Playfair Display', serif;
	background-color: #57D4C4;
	width: cover;
	font-size: 30px;
	background-size: cover;
	padding-left: 10px;
	padding-right: 10px;
}

	/*targets the div that holds all of the results,
	child of #result-section*/
#results-container{
	padding-top: 100px;
	padding-bottom: 100px;
}


	/*targets the div that enables bootstrapping for each result,
	child of #results-container*/
#js-all-results{
	width: 100%;
}

	/*the div holding one instance of the result
	and allows bootstrap styling,
	child of #js-all-results*/
.result{
	position: relative;
	margin-bottom: 150px;
}

	/*the div that holds all of the html for the item instance*/
.item-container{
	position: relative;
	font-size: 22px;
	color: white;
	margin-top: 50px;
	height: auto;
}

	/*targets pseudobutton that links to similar videos*/
.channel-id{
	position: absolute;
	bottom: -100px;
	right: 0;
	left: 0;
	margin-left: auto; 
  	margin-right: auto; 
	width: 250px;
	color: white;
  	background: #D45767;
  	border: solid 2px #D45767;
  	text-shadow: none;
  	box-shadow: none;
  	height: 60px;
}

.channel-id:hover{
	background-color: #D48557;
	border: solid 2px #D48557;
}

.channel-id:focus{
	background-color: #D4C457;
	border: solid 2px #D4C457;
}

	/*targets psuedobutton text*/
.channel-id-title{
	font-family: 'Playfair Display', serif;
	font-size: 2em;
	color: white;
}

/*nav button styling*/

.hidden{
	display: none;
}

	/*targets left side buttons*/
.js-previous-button{
	height: 50px;
	width: 75px;
	border: 1px solid white;
	position: absolute;
	background-color: #8557D4;
	left: 0;
	box-shadow: none;
	border: 0;
}

.js-previous-button:active{
	background-color: #D457A6 D45768
}

	/*targets top left button*/
#top-previous{
	top: 0;
}

	/*targets bottom left button*/
#bottom-previous{
	bottom: 0;
}

	/*targets right side buttons*/
.js-next-button{
	height: 50px;
	width: 75px;
	position: absolute;
	background-color: #8557D4;
	right: 0;
	box-shadow: none;
	border: 0
}

.js-next-button:active{
	background-color: #D457A6
}

	/*targets top right button*/
#top-next{
	top: 0;
}

	/*targets bottom right button*/
#bottom-next{
	bottom: 0;
}

	/*targets glyphs inside the buttons*/
.glyphicon{
	font-size: 30px;
	color: white;
}

@media (min-width: 700px){
/*title*/

	/*targets title text specifically*/
	#title > h1 {
	font-size: 3em;
	}

/*search form*/

		/*targets text area input for form*/
	#js-search{
		width: 400px;
		height: 75px;
		font-size: 24px;
	}

		/*targets form submit button*/
	#js-submit{
		width: 250px;
		height: 50px;
		margin-top: 10px;
	}

/*results*/

		/*targets the div that holds only the results, 
		child of results-section*/
	#result-container{
		height: 200px;
	}

		/*the div that holds all of the html for the item instance*/
	.item-container{
		position: relative;
		font-size: 22px;
		color: white;
		margin-top: 20px;
		height: auto;
	}

		/*targets name of thumbnail*/
	.result-title {
	font-size: 18px;
	}

		/*targets pseudobutton that links to similar videos*/
	.channel-id{
		position: absolute;
		bottom: -60px;
		width: 150px;
	  	height: 40px;
	}

		/*targets psuedobutton text*/
	.channel-id-title{
		font-family: 'Playfair Display', serif;
		font-size: 16px;
		color: white;
	}

/*nav buttons*/

		/*targets left side buttons that are not disabled*/
	.js-previous-button:not(.disabled):hover{
		background-color: #D45768
	}

		/*targets left side buttons*/
	.js-previous-button{
		height: 50px;
		width: 75px;
	}

		/*targets right side buttons that are not disabled*/
	.js-next-button:not(.disabled):hover{
		background-color: #D45768
	}

		/*targets right side buttons*/
	.js-next-button{
		height: 50px;
		width: 75px;
	}

		/*targets glyphs inside the buttons*/
	.glyphicon{
		font-size: 18px;
		color: white;
	}
}
